body{
  margin: 0;
  padding: 0;
}

.container1{
  background-color: #a6e3e9;
  height:500px;
  text-align: center;
  margin-top: 0;
  margin-left: 0;
  position: relative;
  bottom:25px;
}

.brief{
  position: absolute;
  right: 25%;
  top:200px;
}

.planet{
  width: 15%;
  position: absolute;
  top:30px;
  left:5%;
}

.sun{
  width: 18%;
  position: absolute;
  top:50px;
  left:20%;
}

.earth{
  width: 15%;
  position: absolute;
  bottom: 20px;
  left:10%;
}
