body {
  margin: 0;
  padding: 0;
}

.container1 {
  background-color: #a6e3e9;
  height: 750px;
  text-align: center;
  margin-top: 0;
  margin-left: 0;
  position: relative;
  bottom: 25px;
}

.brief {
  position: relative;
  top: 45%;
}

.planet {
  width: 16%;
  position: absolute;
  top: 15%;
  left: 5%;
}

.sun {
  width: 23%;
  position: absolute;
  top: 3%;
  right: 10%;
}

.earth {
  width: 17%;
  position: absolute;
  bottom: 15%;
  left: 10%;
}

h1 {
  font-family: 'Sacramento', cursive;
}

.photo {
  border-radius: 50%;
}

.middle-container {
  text-align: center;
}

.bottom-container {
  text-align: center;
}
